$sidebar-width: 152px;

$xs: 640px;
$sm: 768px;
$md: 1024px;
$lg: 1280px;
$xl: 1536px;

//spacing
$base-gap: 14px;

$base-padding: 12px 18px;
$base-margin: 6px;

$base-border-radius: 6px;
$base-border: 1px solid;

// colors
$grey-400: #bdbdbd;
$grey-300: #f3f3f3;
$grey-200: #d8d8d8;
$grey-500: #afafaf;

$blue: #4b51ef;

$white: #ffffff;

$error: #d91313;
$green-600: #52cf4f;

$text-primary: #000;
$text-secondary: #a3a3a3;
$text-link: #4b51ef;
